* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: #e7cfff;
}

.container {
  margin: 30px auto;
  width: 800px;
  height: 400px;
  background-color: #e7cfff;
  display: grid;
  grid-template-columns: 400px 400px;
  grid-row: auto auto;
  grid-column-gap: 60px;
  grid-row-gap: 20px;
  text-decoration: none; 
}
.container .box {
  background-color: #ffcfff;
  box-sizing: content-box;
  border: solid #b56aff 10px;
  padding: 5px;
  padding: 20px;
  border-radius: 10px;
  color: #b56aff;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 72px;
  font-family: sans-serif;
}
.container .box:hover {
  background: #ffe1b9;
}

.readyheady {
  background-color: #ffcfff;
  box-sizing: border-box;
  border: solid #b56aff 10px;
  padding: 15px;
  margin: 1em 0 0.5em 0;
  color: #b56aff;
  font-weight: normal;
  font-family: 'Ultra', sans-serif;   
  font-size: 72px;
  line-height: 80px;
  text-align: center;
  text-transform: uppercase;
  text-shadow: 0 2px black, 0 3px #333;
  }
  /* Style the top navigation bar */
.navbar {
  overflow: hidden; /* Hide overflow */
  background-color: #b56aff; /* Dark background color */
}

/* Style the navigation bar links */
.navbar a {
  float: left; /* Make sure that the links stay side-by-side */
  display: block; /* Change the display to block, for responsive reasons (see below) */
  color: white; /* White text color */
  text-align: center; /* Center the text */
  padding: 14px 20px; /* Add some padding */
  text-decoration: none; /* Remove underline */
}

/* Right-aligned link */
.navbar a.right {
  float: right; /* Float a link to the right */
}

/* Change color on hover/mouse-over */
.navbar a:hover {
  background-color: #ddd; /* Grey background color */
  color: black; /* Black text color */
}